Tests:
 etc-precedence,
 no-os-release,
Restrictions: breaks-testbed, needs-root

Tests:
 alternative-bin-sh,
Depends: bats, bats-assert, shellcheck, bash, busybox, dash, mksh
Restrictions: breaks-testbed, needs-root
