Source: lsb-release-minimal
Section: misc
Priority: optional
Maintainer: Pexip AS <packaging@pexip.com>
XSBC-Pexip-Original-Maintainer: Gioele Barabucci <gioele@svario.it>
Build-Depends:
 debhelper-compat (= 13),
 bats <!nocheck>,
 bats-assert <!nocheck>,
 podlators-perl <!nodoc>,
 shellcheck <!nocheck>,
Standards-Version: 4.7.0
Homepage: https://gioele.io/lsb-release-minimal
Vcs-Browser: https://salsa.debian.org/gioele/lsb-release-minimal
Vcs-Git: https://salsa.debian.org/gioele/lsb-release-minimal.git
Rules-Requires-Root: no
XS-Pexip-Upstream: http://deb.debian.org/debian/ trixie

Package: lsb-release
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Linux Standard Base version reporting utility (minimal implementation)
 The Linux Standard Base (http://www.linuxbase.org/) is a standard
 core system that third-party applications written for Linux can
 depend upon.
 .
 The lsb_release command is a simple tool to help identify the Linux
 distribution being used and its compliance with the Linux Standard Base.
 .
 This package contains a bare-bones implementation that uses the
 information in /etc/os-release instead of relying on LSB packages.
